from enum import Enum

class {{ name }}(str, Enum):
    {% for enumItem in enum %}

    {% if enumItem['value'] is string %}
    {{ enumItem['key'].upper() }} = '{{ enumItem['value'] }}'{% else %}
    value_{{ enumItem['key'] }} = {{ enumItem['value'] }}{% endif %}
    {% endfor %}
